.red{
    background: #fb1919;
    text-align: center;
    margin: auto;
    width: 50%;
}
.green{
    background: #01973a;
    text-align: center;
    margin: auto;
    width: 50%;
}
.yellow{
    background: #f9b91e;
    text-align: center;
    margin: auto;
    width: 50%;
}
