<html>
    <head>
        <title>{{ title }}</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="{{url_for('static', filename='js/jquery-ui.min.css')}}" />
        <link rel="stylesheet" href="{{url_for('static', filename='js/jquery-ui.theme.min.css')}}" />
        <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}" />
        <link rel="stylesheet" href="{{url_for('static', filename='css/pure-min.css')}}" />
        <script src="{{url_for('static', filename='js/external/jquery/jquery.js')}}"></script>
        <script src="{{url_for('static', filename='js/jquery-ui.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/jquery-clock-timepicker.min.js')}}"></script>
        <script type="text/javascript">
            $( function() {
	          $('.standard').clockTimePicker({precision:5});
              $( "#tabs" ).tabs();

              $( "#switch1" ).click( function( event ) {
                  event.preventDefault();
                  $('[href="#tabs-schedule2"]').closest('li').show();
                  $('[href="#tabs-schedule1"]').closest('li').hide();
                  $( "#tabs" ).tabs({ active: 2});
              });
              $( "#switch2" ).click( function( event ) {
                  event.preventDefault();
                  $('[href="#tabs-schedule1"]').closest('li').show();
                  $('[href="#tabs-schedule2"]').closest('li').hide();
                  $( "#tabs" ).tabs({ active: 1});
              });

          {% if time.mode == 0 %}
              $('[href="#tabs-schedule2"]').closest('li').hide();
          {% else %}
              $('[href="#tabs-schedule1"]').closest('li').hide();
          {% endif %}


              $("#checkbox-1").checkboxradio({icon: false});
              $('#checkbox-1').on("change", function(event){
                  if( $('#checkbox-1').prop("checked")){
                      $("label[for='checkbox-1']").text("ON");
                  }
                  else
                  {
                      $("label[for='checkbox-1']").text("Off");
                      $('#checkbox-1').prop("disabled", true);
                      $('#normal').submit();
                  }
              });
	        });
        </script>
    </head>
    <body>
        <div id="tabs" class="tabs" align=center>
            <ul>
                <li><a href="#tabs-lights">Lights</a></li>
                <li><a href="#tabs-schedule1">Schedule</a></li>
                <li><a href="#tabs-schedule2">Schedule</a></li>
            </ul>
            <div id="tabs-lights" class="tabs2" align=center>
                <p>
                    <table id="tab_table" align=center>
                        <tr><td>
                            <table align=center>
                                <tr>
                                    <td class="red"><a href="/led?led=red"><img class="pure-img" src={{url_for('static', filename='img/' + light.red + '.png')}} /></a></td>
                                </tr>
                                <tr>
                                    <td class="yellow"><a href="/led?led=yellow"><img class="pure-img" src={{url_for('static', filename='img/' + light.yellow + '.png')}} /></a></td>
                                </tr>
                                <tr>
                                    <td class="green"><a href="/led?led=green"><img class="pure-img" src={{url_for('static', filename='img/' + light.green + '.png')}} /></a></td>
                                </tr>
                            </table>
                            <table align=center>
                                <tr>
                                    <td>
                                        <form class="pure-form" id="normal" action="/normal" method="POST">
                                        <table class="pure-table pure-table-bordered">
                                            <tr>
                                                <td>Temporary Override</td>
                                                <td>
                                        {% block content %}
                                            {% if light.override %}
                                                    <label for="checkbox-1">On</label>
                                                    <input type="checkbox" name="checkbox-1" id="checkbox-1" checked>
                                            {% else %}
                                                    <label for="checkbox-1">Off</label>
                                                    <input type="checkbox" name="checkbox-1" id="checkbox-1" disabled>
                                            {% endif %}
                                        {% endblock content %}
                                                </td>
                                            </tr>
                                        </table>
                                        </form>
                                    </td>
                                </tr>
                        </table>
                    </table>
                </p>
            </div>
            <div id="tabs-schedule1" class="tabs">
                <p>
                    <form class="pure-form" id="schedule1" action="/schedule" method="POST">
                        <table class="pure-table pure-table-bordered">
                            <tr><td><p>Green on at </p></td><td><input id="green" name="green" class="time standard" type="text" value="{{ time.green }}" /></td></tr>
                            <tr><td><p>Red on at </p></td><td><input id="red" name="red" class="time standard" type="text" value="{{ time.red }}" /></td></tr>
                            <tr><td colspan=2 align=center>
                                <p>Yellow <select name="yellow" id="yellow">
                                    {% for number in range(1,13) %}
                                    {% if time.yellow == number * 5 %}
                                        <option value="{{ number * 5 }}" selected>{{ number * 5 }}</option>
                                    {% else %}
                                        <option value="{{ number * 5 }}">{{ number * 5 }}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select> min before Green</p>
                            </td></tr>
                            <tr><td colspan=2><div class="widget" align="center"><input type="submit" value="save"></div></td></tr>
                        </table>
                        <table class="pure-table pure-table-bordered">
                            <tr>
                                <td colspan=2>
                                    <div class="widget" align="center">
                                        <button id="switch1" class="ui-button ui-widget ui-corner-all">Switch</button>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <input type="hidden" name="yellow_mode" value="0">
                    </form>
              </p>
            </div>
            <div id="tabs-schedule2" class="tabs">
                <p>
                    <form class="pure-form" id="schedule2" action="/schedule" method="POST">
                        <table class="pure-table pure-table-bordered">
                            <tr><td><p>Green on at </p></td><td><input id="green" name="green" class="time standard" type="text" value="{{ time.green }}" /></td></tr>
                            <tr><td><p>Red on at </p></td><td><input id="red" name="red" class="time standard" type="text" value="{{ time.red }}" /></td></tr>
                            <tr><td><p>Yellow on at </p></td><td><input id="red" name="yellow" class="time standard" type="text" value="{{ time.yellow }}" /></td></tr>
                            <tr><td colspan=2><div class="widget" align="center"><input type="submit" value="save"></div></td></tr>
                        </table>
                        <table class="pure-table pure-table-bordered">
                            <tr>
                                <td colspan=2>
                                    <div class="widget" align="center">
                                        <button id="switch2" class="ui-button ui-widget ui-corner-all">Switch</button>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <input type="hidden" name="yellow_mode" value="1">
                    </form>
                </p>
            </div>
      </div>
      <br>
      <table align=center>
            <tr>
                <td>
                    <h3>{{ clock }}</h3>
                </td>
            </tr>
      <table>
    </body>
</html>

